/* Intro to grid */
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  } */
  
  /* DISPLAY PROPERTY */
  
  /* inline grid */
  /* .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  } */

  /* grid gaps (column-gap:5px/row-gap:5px) shorthand gap(gap:10px)or(gap:10px 50px) */
  /* .grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    gap:10px 50px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  } */

/* Grid lines row and columns */
  /* .grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;

  }
.item1
{
grid-row-start: 1;
grid-row-end: 3;    
} */

/* GRID CONTAINER */
/* grid tamplets columns (auto auto auto auto)or(auto 80px auto 70px) */
/* .grid-container {
    display:grid;
    grid-template-columns: auto 80px auto 70px;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  } */

  /* grid tamplets Rows (auto auto auto )and rows(200px 100px 150px) */
/* .grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 100px 150px;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  } */

  /* Justify Content (center)(space enenly)(space between)(space arround)(start)(end) */
  /* .grid-container {
    display:grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: end;
    background-color: #2196F3;
    padding: 10px;
    gap: 20px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  } */

  /* align Content (center)(space enenly)(space between)(space arround)(start)(end) */
  /* .grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    align-content: center;
    background-color: #2196F3;
    padding: 10px;
    gap: 20px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  } */

  /* GRID ITEM */
  /* grid column and row property(grid-column:1/5)(grid-column-start)(grid-column-end)( grid-column: 2/span 3)() */
  /* .grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    gap: 20px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }
  .item1
{
grid-row: 1/ span 3;
} */

/* grid area property */
/* .grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    gap: 20px;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }
  .item8
{
grid-area:2/1/ span2/span3;
} */

/*grid area property with naming grid items  */
.grid-container {
    display:grid;
    background-color: #2196F3;
    grid-template-areas: 'spacemyown spacemyown spacemyown spacemyown spacemyown';
    padding: 10px;
    gap: 20px;
    grid-template-columns: AUTO AUTO auto;
  }
  .grid-container >div
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }
  .item1
{
grid-area: spacemyown;
}